<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap/bootstrap.css')}}"/>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
  <title>What is Missin?</title>
</head>
<body>
  <div class="container-fluid">
  <div id ="missin" class="center">
    <div class="space">
    <h1>What is Miss<span id="logo">in</span>?</h1>
    </div>
      <form>
          <textarea rows="5" cols="100" >
          </textarea>
      </form>
      <button class="btn btn-medium btn-primary" type="submit">Submit</button>
  </div>
</div>
</body>
</html>